Satellite Health Check Report

#TODO - check if facts work for Satellite#
This is a health check report for the {{ ansible_hostname }} Satellite server conducted on a {{ ansible_distribution }} {{ansible_distribution_version }} instance, at {{ ansible_date_time.time }} on {{ ansible_date_time.date }}.

Analysis

Test: {{ test_result }}

Satellite Configuration

Satellite System Requirements
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Satellite and Capsule Architecture
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Satellite Version 
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Firewalls and Proxy
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Infrastructure

Infrastructure Architecture
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Network Requirements
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Custom Hierarchies
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Storage

Qpidd Storage
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Backup/Restore Procedures
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Host Management

Remote Execution
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Download Policy
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Tainted Kernels
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Provisioning
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Errata
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Managed Host Logging
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Satellite Management

Repositories
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Satellite Logging
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Lifecycle Environments
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Patch Cycles
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Sync Plans
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Activation Keys
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#

Host Groups
Investigation: #TODO#
Observation: #TODO#
Guidance: #TODO#
Rationale: #TODO#
