Satellite Health Check Report

#TODO - check if facts work for Satellite#
This is a health check report for the {{ ansible_hostname }} host conducted on a {{ ansible_distribution }} {{ansible_distribution_version }} instance, at {{ ansible_date_time.time }} on {{ ansible_date_time.date }}.

Analysis

#TODO#
